h1 {
    padding-top: 130px;
    font-size: 80px;
}

h2 {
    padding-right: 330px;
    font-size: 20px;
}

h1, h2 {
    padding-left: 10px;
    line-height: 0;
    font-family: sans-serif;
    text-align: center;
}

.h_about_me {
    padding-left: 30px;
    color: white;
    font-family: sans-serif;
}

hr {
    margin: 10px;
}

footer {
    background-color: #011936;
    text-align: right;
    margin: 10px auto;
    position: relative;
    width: 75%;
    border: 0;
    line-height: 1.5;
    text-shadow: 0px 1px 1px black;
    box-shadow: 
    4px 15px 20px rgba(0, 0, 0, 1);
}

header {
    background-size: cover;
    color: white;
    text-shadow: 5px 2px 10px rgb(90, 91, 158);
    margin-top: 20px;
    margin-left: 237px;
    width: 75%;
    height: 270px;
    border: 0;
    box-shadow: 
    0px -5px 15px rgba(0, 0, 0, 1);
}

a {
    color: white;
}

a:hover {
    color: #BF5700;
}

.p_flooter_text_color {   /*  Изминение цвета такста в нижнем колонтитуле */
    color: white;
}

.avatar_style {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    margin-bottom: 40px;
}

.container {
    display:flex;
    background: transparent;
    padding-left: 237px;
    width: 75%;
    height: 150%;
}

.left-box {
    width: 370px; 
    background-color: #011936; 
    top: 0px;
    z-index: 1000;
    position: sticky;
    position: -webkit-sticky; 
    height: 870px; 
}

.right-box {
    flex: 1;
    height: 1400px;
    background-color: white;
}