
h1 {
    padding-top: 130px;
    font-size: 80px;
}

h2 {
    padding-right: 360px;
    font-size: 20px;
    font-family: Helvetica;
    letter-spacing: 2px;
}

h3 {
    text-align: right;
    padding-top: 30px;
    padding-right: 10px;
    font-size: 13px; 
}

h1, h2 {
    padding-left: 10px;
    line-height: 0;
    font-family: sans-serif;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    font-family: Helvetica;
    justify-content: right;
    opacity: 0;
    animation: showMain 2s forwards 2s;
}

.h_about_me {
    padding-left: 30px;
    font-size: 20px;
    color: white;
    font-family: Helvetica;
    letter-spacing: 2px;
}

.h_Technical_spels_me {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 20px;
    color: white;
    font-family: Helvetica;
    letter-spacing: 2px;
}

hr {
    margin: 10px;
}

.hidden {
    opacity: 0;
}

footer {
    background-color: #080808;
    margin-left: 237px;
    width: 75%;
    border: 0;
    line-height: 1.5;
    text-shadow: 0px 1px 1px black;
    box-shadow: 
    4px 15px 20px rgba(0, 0, 0, 1);
    
}

header {
    background-size: cover;
    color: white;
    text-shadow: 5px 2px 10px rgb(90, 91, 158);
    margin-top: 20px;
    margin-left: 237px;
    width: 75%;
    height: 270px;
    border: 0;
    box-shadow: 
    inset 100px -125px 100px #080808,
    -50px 40px 100px #080808;
    transform: translateY(100%);
    animation: fadeIn 1s forwards, moveUp 2s forwards 1s;
}


main, footer, .header_menu {
    opacity: 0;
    transition: opacity 2s ease;
}

main {
    animation: showMain 2s forwards 2s;
}

footer {
    animation: showFooter 2s forwards 2.5s; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(92, 98, 110);
}

.p_flooter_text_conteiner { 
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 14px;
}

.avatar_style {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    top: 0;
}

.image_contackts_container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    
    padding-left: 25px;
    margin-top: 10px;
}

.image_contacts {
    padding-top: 5px;
    padding-right: 10px;
}

.text {
    margin: 0;
    padding-top: 5px;
    font-size: 16px;
    font-family: Helvetica;
    letter-spacing: 2px;
    color: white;
}

.container {
    display:flex;
    background: transparent;
    padding-left: 237px;
    width: 75%;
    margin: 0;

}

.left-box {
    width: 370px; 
    background-color: #080808; 
    top: 0px;
    z-index: 1000;
    position: sticky;
    position: -webkit-sticky; 
    height: 965px; 
    margin: 0;
    box-shadow: 
    -50px 0px 100px #080808;
}

.right-box {
    flex: 1;
    height: 1420px;
    margin: 0;
    background-color: white;
}

figcaption {
    margin-top: 10px; 
    font-size: 16px;
    color: white; 
    text-align: center;
    font-family: Helvetica;
    letter-spacing: 2px;
}

.image_conteiner_figure {
    margin: 5px;
    text-align: center;
    flex-basis: 45%;
}

.image-gallery {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 600px;
}

.P_TEXT_RIGHT_ZAGLAV {
    color: black;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 30px;
}

.P_TEXT_RIGHT {
    color: black;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 20px;
    
}
.P_RIGHT_ul {
    padding-bottom: 0;
    margin: 0;
    line-height: 0.5;
    padding-left: 50px;
    list-style-type: disc;
    font-family: Helvetica;
    font-size: 18px;
}

.P_TEXT_RIGHT_OPISANIE {
    text-indent: 50px;
    text-align: justify;
    padding-right: 30px;
    color: black;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 30px;
}

.obo_mne_container {

    display: grid;
    background-color: rgba(92, 98, 110, 0.2);
    margin-top: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes showMain {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showFooter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}